<%- include('../layouts/header.ejs') %>

<body>
  


<div class="container">
  <div style="margin-top: 8%;">
    <div class="row mt-6">
  
          <div class="col-md-5 m-auto">
        <div class="jumbotron">
          <a href="/" >Home</a>
    <div class="card card-body text-center border-0">
     
     <h1><img src="images/icon.jpg" alt="" srcset=""></h1> 
      <p>Create an account or login</p>
      <a href="/loginform" class="btn btn-primary btn-block mb-2"
        >Login</a
      >
      <a href="/signup" class="btn btn-secondary btn-block">Sign Up</a>
    </div>
  </div>
</div>
</div>
  </div>
  
</div>
</div>
  </body>
  <%- include('../layouts/footer.ejs') %>
</html>


<script>



$("#carouselSlide").hide() // hiding the slide
</script>